:root{
    /* -------------Colores------------- */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --tituloPrincipal: #140557;
    --freelancer1: rgba(255, 166, 0, 0.986);
    --colorNavegacion: rgb(37, 37, 51);
    --familiaTitulo: 'Redressed', cursive;
    --colorDegradado: rgb(13, 59, 145);

    --fuentePrincipal: 3.8rem;

}
/* -------------globales-------------*/
html{
    font-size: 62.5%;
    box-sizing: border-box;

}
*,*:before, *:after{
    box-sizing: inherit;
}


body{
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    background-image: linear-gradient(to top,#c6dbf0 0%, white 100%);
}

nedor
.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}
.botones{
    background-color: var(--colorNavegacion);
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;

}
.botones:hover{
    cursor: pointer;
}
@media (min-width: 560px) {
    .botones{
        width: auto;
    }
}

.sombra{

    
    padding: 2rem;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: rgba(112,112,112,0.54);
    background-color: white;
    border-radius: 2rem;
    width: 70rem;
    margin: 0 auto;
    
}

/* -------------tipografia------------- */

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}


/* -------------titulos------------- */
.titulo{
    font-size: var(--fuentePrincipal);
    color: var(--tituloPrincipal);
    font-family: var(--familiaTitulo);
    
}
h1.titulo span{

    font-size: 20px;
    font-size: 2rem;
    color: var(--freelancer1);
}
.titulo span{
    font-size: 2rem;
    color: var(--freelancer1);
}


/* -------------navegacion principal-------------*/

.nav-bg{
    background-color: var(--colorNavegacion);
}
.navegacion-principal {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navegacion-principal a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}
.navegacion-principal a:hover{
    background-color: var(--freelancer1);
}

@media (min-width: 760px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}
/*  -------------imagen hero y elementos------------- */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0,.7);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contenido-hero h2, 
.contenido-hero p {
    color: white;



}
.contenido-hero p {
    font-size: 2rem;
}
/*  -------------Servicios------------- */
@media (min-width: 760px){
    .servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* ó  grid-template-columns: repeat(3,fr);*/
    column-gap: 5rem; /*separacion de columnas*/

}
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--colorNavegacion);

}
.servicio p{
    line-height: 2;
    text-align: center;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--colorNavegacion);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*  -------------formulario------------- */
.formulario{
    background-color: gray;
    width: min(60rem,100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;

}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
} 
.contenedor-campos{
    margin-bottom: 1rem;
}  
.campos{

}
.campos label{
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.enviar .botones{
    width: 100%;
}