:root{
    /* Colores */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --tituloPrincipal: #140557;
    --freelancer1: rgba(255, 166, 0, 0.986);
    --colorNavegacion: rgb(37, 37, 51);
    --familiaTitulo: 'Redressed', cursive;

    --fuentePrincipal: 3.8rem;

}

html{
    font-size: 62.5%;

}
body{
    font-size: 16px;
    font-family: 'Crimson Text', serif;
}
.titulo{
    text-align: center;
    font-size: var(--fuentePrincipal);
    color: var(--tituloPrincipal);
    font-family: var(--familiaTitulo);
    
}
h1.titulo span{

    font-size: 20px;
    font-size: 2rem;
    color: var(--freelancer1);
}
.titulo span{
    font-size: 2rem;
    color: var(--freelancer1);
}

.contenedor{
    width: 80rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

}
.nav-bg{
    background-color: var(--colorNavegacion);
}
.navegacion-principal {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.navegacion-principal a{
    color: whitesmoke;
    text-decoration: none;
}
